<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>password</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="container">
        <label for="register_input1">Введите почту</label>
        <input type="text" class="input_field" id="register_input1" name="user_name" autocomplete="off" placeholder="Введите почту">
        <button type="submit">отправить на почту письмо</button>
    </div>
</body>
</html>