@font-face {
    font-family: "Shantell Sans";
    src: url(../docT/Shantell_Sans/ShantellSans-VariableFont_BNCE\,INFM\,SPAC\,wght.ttf);
}

body {
    background-color: cornflowerblue;
}
.container {
    display: flex;
    justify-content: space-evenly;
    
}
.item {
    width: 25%;
    background-color: aliceblue;
    border-radius: 20px;
    box-shadow: 10px 5px 5px rgb(61, 61, 61);
    font-family: 'Shantell Sans', monospace;
}

.item>a{
    color:darkorchid
}
